# Loading And Graphing Monthly Summaries

In [1]:
# Make the json_helper module available to this notebook.
# import newfile as nf

# nf.newfile()
import json_helper

In [2]:
# Using the json_helper module, load all of the json files acquired in part one of this lab into a Pandas DataFrame.
df_monthly_summaries = json_helper.read_all_json_files("/Users/deepa/Documents/Projects/NotebooksWeek7/DataAcqusitionLab")

      mindate     maxdate        name  datacoverage             id  \
0  1909-11-01  2024-04-21  Bejaia, AG             1  CITY:AG000005

              source
0  locations_10.json
      mindate     maxdate         name  datacoverage             id  \
0  1909-11-01  2024-04-21   Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31  Shkoder, AL        0.9916  CITY:AL000004

              source
0  locations_10.json
0  locations_26.json
      mindate     maxdate         name  datacoverage             id  \
0  1909-11-01  2024-04-21   Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31  Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21  Lubango, AO        1.0000  CITY:AO000006

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
      mindate     maxdate         name  datacoverage             id  \
0  1909-11-01  2024-04-21   Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31  Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21  Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21  Sharjah, AE        1.0000  CITY:AE000006

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
      mindate     maxdate         name  datacoverage             id  \
0  1909-11-01  2024-04-21   Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31  Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21  Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21  Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21    Dubai, AE        1.0000  CITY:AE000003

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
      mindate     maxdate         name  datacoverage             id  \
0  1909-11-01  2024-04-21   Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31  Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21  Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21  Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21    Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01   Namibe, AO        0.7495  CITY:AO000008

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
      mindate     maxdate         name  datacoverage             id  \
0  1909-11-01  2024-04-21   Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31  Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21  Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21  Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21    Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01   Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21   Tirana, AL        0.9925  CITY:AL000005

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
      mindate     maxdate             name  datacoverage             id  \
0  1909-11-01  2024-04-21       Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31      Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21      Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21      Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21        Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01       Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21       Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21  Constantine, AG        1.0000  CITY:AG000006

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
      mindate     maxdate             name  datacoverage             id  \
0  1909-11-01  2024-04-21       Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31      Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21      Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21      Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21        Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01       Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21       Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21  Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21       Skikda, AG        1.0000  CITY:AG000015

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
      mindate     maxdate             name  datacoverage             id  \
0  1909-11-01  2024-04-21       Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31      Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21      Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21      Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21        Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01       Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21       Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21  Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21       Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11   Corrientes, AR        0.9973  CITY:AR000006

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
      mindate     maxdate             name  datacoverage             id  \
0  1909-11-01  2024-04-21       Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31      Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21      Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21      Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21        Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01       Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21       Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21  Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21       Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11   Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21      Cordoba, AR        1.0000  CITY:AR000005

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
      mindate     maxdate             name  datacoverage             id  \
0  1909-11-01  2024-04-21       Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31      Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21      Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21      Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21        Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01       Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21       Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21  Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21       Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11   Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21      Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31     Kandahar, AF        1.0000  CITY:AF000008

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
      mindate     maxdate             name  datacoverage             id  \
0  1909-11-01  2024-04-21       Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31      Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21      Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21      Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21        Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01       Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21       Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21  Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21       Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11   Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21      Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31     Kandahar, AF        1.0000  CITY:AF000008
0  1957-01-01  2024-04-21       Bechar, AG        1.0000  CITY:AG000004

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
0   locations_9.json
      mindate     maxdate             name  datacoverage             id  \
0  1909-11-01  2024-04-21       Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31      Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21      Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21      Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21        Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01       Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21       Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21  Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21       Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11   Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21      Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31     Kandahar, AF        1.0000  CITY:AF000008
0  1957-01-01  2024-04-21       Bechar, AG        1.0000  CITY:AG000004
0  1957-01-01  2024-11-14         Oran, AG        1.0000  CITY:AG000011

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
0   locations_9.json
0  locations_16.json
      mindate     maxdate                name  datacoverage             id  \
0  1909-11-01  2024-04-21          Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31         Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21         Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21         Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21           Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01          Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21          Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21     Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21          Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11      Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21         Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31        Kandahar, AF        1.0000  CITY:AF000008
0  1957-01-01  2024-04-21          Bechar, AG        1.0000  CITY:AG000004
0  1957-01-01  2024-11-14            Oran, AG        1.0000  CITY:AG000011
0  1985-02-01  2024-04-21  Oum el Bouaghi, AG        1.0000  CITY:AG000012

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
0   locations_9.json
0  locations_16.json
0  locations_17.json
      mindate     maxdate                name  datacoverage             id  \
0  1909-11-01  2024-04-21          Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31         Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21         Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21         Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21           Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01          Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21          Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21     Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21          Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11      Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21         Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31        Kandahar, AF        1.0000  CITY:AF000008
0  1957-01-01  2024-04-21          Bechar, AG        1.0000  CITY:AG000004
0  1957-01-01  2024-11-14            Oran, AG        1.0000  CITY:AG000011
0  1985-02-01  2024-04-21  Oum el Bouaghi, AG        1.0000  CITY:AG000012
0  1973-04-01  2024-04-21           Batna, AG        1.0000  CITY:AG000003

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
0   locations_9.json
0  locations_16.json
0  locations_17.json
0   locations_8.json
      mindate     maxdate                name  datacoverage             id  \
0  1909-11-01  2024-04-21          Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31         Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21         Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21         Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21           Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01          Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21          Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21     Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21          Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11      Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21         Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31        Kandahar, AF        1.0000  CITY:AF000008
0  1957-01-01  2024-04-21          Bechar, AG        1.0000  CITY:AG000004
0  1957-01-01  2024-11-14            Oran, AG        1.0000  CITY:AG000011
0  1985-02-01  2024-04-21  Oum el Bouaghi, AG        1.0000  CITY:AG000012
0  1973-04-01  2024-04-21           Batna, AG        1.0000  CITY:AG000003
0  1966-03-02  2021-08-30           Kabul, AF        0.9969  CITY:AF000007

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
0   locations_9.json
0  locations_16.json
0  locations_17.json
0   locations_8.json
0   locations_4.json
      mindate     maxdate                name  datacoverage             id  \
0  1909-11-01  2024-04-21          Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31         Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21         Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21         Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21           Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01          Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21          Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21     Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21          Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11      Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21         Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31        Kandahar, AF        1.0000  CITY:AF000008
0  1957-01-01  2024-04-21          Bechar, AG        1.0000  CITY:AG000004
0  1957-01-01  2024-11-14            Oran, AG        1.0000  CITY:AG000011
0  1985-02-01  2024-04-21  Oum el Bouaghi, AG        1.0000  CITY:AG000012
0  1973-04-01  2024-04-21           Batna, AG        1.0000  CITY:AG000003
0  1966-03-02  2021-08-30           Kabul, AF        0.9969  CITY:AF000007
0  1960-01-01  2024-04-21      Corrientes, AR        0.9973  CITY:AR000006

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
0   locations_9.json
0  locations_16.json
0  locations_17.json
0   locations_8.json
0   locations_4.json
0  locations_37.json
      mindate     maxdate                name  datacoverage             id  \
0  1909-11-01  2024-04-21          Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31         Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21         Lubango, AO        1.0000  CITY:AO000006
0  1944-03-01  2024-04-21         Sharjah, AE        1.0000  CITY:AE000006
0  1944-03-01  2024-04-21           Dubai, AE        1.0000  CITY:AE000003
0  1955-01-01  2015-10-01          Namibe, AO        0.7495  CITY:AO000008
0  1940-04-01  2024-04-21          Tirana, AL        0.9925  CITY:AL000005
0  1880-05-01  2024-04-21     Constantine, AG        1.0000  CITY:AG000006
0  1957-12-31  2024-04-21          Skikda, AG        1.0000  CITY:AG000015
0  1960-01-01  2024-04-11      Corrientes, AR        0.9973  CITY:AR000006
0  1956-02-01  2024-04-21         Cordoba, AR        1.0000  CITY:AR000005
0  1973-01-02  2020-12-31        Kandahar, AF        1.0000  CITY:AF000008
0  1957-01-01  2024-04-21          Bechar, AG        1.0000  CITY:AG000004
0  1957-01-01  2024-11-14            Oran, AG        1.0000  CITY:AG000011
0  1985-02-01  2024-04-21  Oum el Bouaghi, AG        1.0000  CITY:AG000012
0  1973-04-01  2024-04-21           Batna, AG        1.0000  CITY:AG000003
0  1966-03-02  2021-08-30           Kabul, AF        0.9969  CITY:AF000007
0  1960-01-01  2024-04-21      Corrientes, AR        0.9973  CITY:AR000006
0  1940-01-01  2014-02-01     Tamanrasset, AG        0.9973  CITY:AG000016

              source
0  locations_10.json
0  locations_26.json
0  locations_30.json
0   locations_3.json
0   locations_2.json
0  locations_31.json
0  locations_27.json
0  locations_11.json
0  locations_20.json
0      location.json
0  locations_36.json
0   locations_5.json
0   locations_9.json
0  locations_16.json
0  locations_17.json
0   locations_8.json
0   locations_4.json
0  locations_37.json
0  locations_21.json
      mindate     maxdate                name  datacoverage             id  \
0  1909-11-01  2024-04-21          Bejaia, AG        1.0000  CITY:AG000005
0  1951-01-01  2000-12-31         Shkoder, AL        0.9916  CITY:AL000004
0  1957-09-01  2024-04-21         Lubango, AO        1.0000  CITY:AO000006

In [9]:
# Display a summary of the DataFrame
# df_monthly_summaries.head()
df_monthly_summaries.head()

,mindate,maxdate,name,datacoverage,id,source
0,1909-11-01,2024-04-21,"Bejaia, AG",1.0000,CITY:AG000005,locations_10.json
0,1951-01-01,2000-12-31,"Shkoder, AL",0.9916,CITY:AL000004,locations_26.json
0,1957-09-01,2024-04-21,"Lubango, AO",1.0000,CITY:AO000006,locations_30.json
0,1944-03-01,2024-04-21,"Sharjah, AE",1.0000,CITY:AE000006,locations_3.json
0,1944-03-01,2024-04-21,"Dubai, AE",1.0000,CITY:AE000003,locations_2.json

In [14]:
# How many stations are there?
# How many rows are associated with each DataFrame?

df_unique = df_monthly_summaries['id'].nunique()
print(df_unique)


len(df_monthly_summaries)
#len(df_unique)

38

39

# Narrow our analysis to station id: GHCND:USW00013781

https://www.ncdc.noaa.gov/cdo-web/api/v2/stations/GHCND:USC00071200

```json
{
    "elevation": 24.1,
    "mindate": "1948-01-01",
    "maxdate": "2019-12-05",
    "latitude": 39.6744,
    "name": "WILMINGTON NEW CASTLE CO AIRPORT, DE US",
    "datacoverage": 1,
    "id": "GHCND:USW00013781",
    "elevationUnit": "METERS",
    "longitude": -75.60567
}
```

In [21]:
# Create a DataFrame called "df_wilm_readings". 
# This DataFrame should only contain records associated with station id 'GHCND:USW00013781'.
df_wilm_readings = df_monthly_summaries[df_monthly_summaries["id" ]== "GHCND:USW00013781"]
df_wilm_readings.head()

Empty DataFrame
Columns: [mindate, maxdate, name, datacoverage, id, source]
Index: []

In [6]:
# Display a summary of the df_wilm_readings DataFrame.

In [7]:
# Create a DataFrame called jan_readings.
# This DataFrame should filter the contents of df_wilm_readings in such a way that it only keeps records 
# which are associated with the month of January.
# Make sure that rows are sorted by date.

In [8]:
# What is the shape of jan_readings?

* Create a line graph which meets the following requirements:
* The x axis should represent the year.
* The y axis should represent the temperature in celsius.
* Each point should display the average temperature in celsius for a given year.
* At a minimum it should display data from 1938 to 2017. 
* Make sure to include the x and y labels. 
* Make sure that x and y ticks are readable.