In [1]:
# import pandas module
# import os module
import pandas as pd
import os

In [4]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.

#df = pd.read_pickle("locations_data_frame.pickle")

df = pd.read_pickle("locations_data_frame.pickle")

In [5]:
# Display the DataFrame
df.head()

,mindate,maxdate,name,datacoverage,id,source
0,1909-11-01,2024-04-21,"Bejaia, AG",1.0000,CITY:AG000005,locations_10.json
0,1951-01-01,2000-12-31,"Shkoder, AL",0.9916,CITY:AL000004,locations_26.json
0,1957-09-01,2024-04-21,"Lubango, AO",1.0000,CITY:AO000006,locations_30.json
0,1944-03-01,2024-04-21,"Sharjah, AE",1.0000,CITY:AE000006,locations_3.json
0,1944-03-01,2024-04-21,"Dubai, AE",1.0000,CITY:AE000003,locations_2.json