In [7]:
import pandas as pd
import os
import json

## Read a single JSON

Define a function called read_json. Given a string representing a file path to a json file, this function should open said file and convert its contens into a json object.

In [8]:
# implement me
def read_json(file_path):
    f = open(file_path)
    json_data = json.load(f)
    return json_data

Use the read_json function defined above to read the contents of one of the locations_4.json file acquired in the Data Acquisition Lab.

In [11]:
file_path = os.path.join('./', 'data', 'locations', 'locations_4.json')
json_contents = read_json(file_path)

Display the value of the json_contents variable defined above.

In [13]:
json_contents

{'mindate': '1966-03-02',
 'maxdate': '2021-08-30',
 'name': 'Kabul, AF',
 'datacoverage': 0.9969,
 'id': 'CITY:AF000007'}

## Convert JSON Into a DataFrame

Using the json_contents variable, create a Pandas dataframe.

In [19]:
# Create DataFrame here.
df = pd.DataFrame([json_contents])

Display the contents of the DataFrame.

In [21]:
# Display contents of the DataFrame here.
df.head()

      mindate     maxdate       name  datacoverage             id
0  1966-03-02  2021-08-30  Kabul, AF        0.9969  CITY:AF000007

How many records are in the DataFrame? How many columns does each record have?

Filter the contents of the DataFrame to only show records where the name column contains the string "Durham".

In [26]:
print(df.shape[0])
print(df.shape[1])

1
5

## Read Multiple JSON Files

Define a function called read_all_json_files. Given a string representing a path to a directory, this function should read all of the json files and return a Pandas DataFrame containing all of the objects. In addition to the data from the files, this DataFrame should also contain an additional column called "source". The source column should be populated with the name of the file from which this record originated from.

In [66]:
# implement me
def read_all_json_files(JSON_ROOT):
    df1 = pd.DataFrame()
    for filename in os.listdir(JSON_ROOT):
        with open(os.path.join(JSON_ROOT, filename) , 'r') as file:  # os.path.join constructs the full path to the file 
            json_data = json.load(file)
            df2 = pd.json_normalize(json_data)
            df2['source']= str(filename)
            df1 = pd.concat([df1, df2])
            #print(str(df1))
    return df1

In [42]:
os.getcwd()

'/Users/deepa/Documents/Projects/NotebooksWeek7/NOAALocations'

Use the read_all_json_files function above to read the contents of all locations file acquired in the the Data Acquisition Lab.  
Hint: It is easier if you put all of those files in a dedicated subdirectory ex: (./data/locations/)

In [77]:
df1 = read_all_json_files('./data/locations')

What is the shape of the DataFrame? Does this match the number of columns and records you expected?

In [78]:
# Validate the shape of the DataFrame here
df1.shape[0]

39

In [79]:
df1.shape[1]

6

In [92]:
df.count()

mindate         39
maxdate         39
name            39
datacoverage    39
id              39
source          39
dtype: int64

Show the first few records of the DataFrame.

In [93]:
# Show the first few records
df1.head(200)

,mindate,maxdate,name,datacoverage,id,source
0,1909-11-01,2024-04-21,"Bejaia, AG",1.0000,CITY:AG000005,locations_10.json
0,1951-01-01,2000-12-31,"Shkoder, AL",0.9916,CITY:AL000004,locations_26.json
0,1957-09-01,2024-04-21,"Lubango, AO",1.0000,CITY:AO000006,locations_30.json
0,1944-03-01,2024-04-21,"Sharjah, AE",1.0000,CITY:AE000006,locations_3.json
0,1944-03-01,2024-04-21,"Dubai, AE",1.0000,CITY:AE000003,locations_2.json
0,1955-01-01,2015-10-01,"Namibe, AO",0.7495,CITY:AO000008,locations_31.json
0,1940-04-01,2024-04-21,"Tirana, AL",0.9925,CITY:AL000005,locations_27.json
0,1880-05-01,2024-04-21,"Constantine, AG",1.0000,CITY:AG000006,locations_11.json
0,1957-12-31,2024-04-21,"Skikda, AG",1.0000,CITY:AG000015,locations_20.json
0,1960-01-01,2024-04-11,"Corrientes, AR",0.9973,CITY:AR000006,location.json
0,1956-02-01,2024-04-21,"Cordoba, AR",1.0000,CITY:AR000005,locations_36.json
0,1973-01-02,2020-12-31,"Kandahar, AF",1.0000,CITY:AF000008,locations_5.json
0,1957-01-01,2024-04-21,"Bechar, AG",1.0000,CITY:AG000004,locations_9.json
0,1957-01-01,2024-11-14,"Oran, AG",1.0000,CITY:AG000011,locations_16.json
0,1985-02-01,2024-04-21,"Oum el Bouaghi, AG",1.0000,CITY:AG000012,locations_17.json
0,1973-04-01,2024-04-21,"Batna, AG",1.0000,CITY:AG000003,locations_8.json
0,1966-03-02,2021-08-30,"Kabul, AF",0.9969,CITY:AF000007,locations_4.json
0,1960-01-01,2024-04-21,"Corrientes, AR",0.9973,CITY:AR000006,locations_37.json
0,1940-01-01,2014-02-01,"Tamanrasset, AG",0.9973,CITY:AG000016,locations_21.json
0,1981-01-01,2024-04-21,"Saida, AG",1.0000,CITY:AG000013,locations_18.json
0,1909-11-01,2024-04-21,"Annaba, AG",1.0000,CITY:AG000002,locations_7.json
0,1973-07-01,2024-04-21,"Catamarca, AR",0.9720,CITY:AR000003,locations_34.json
0,1981-01-01,2024-04-21,"Tlemcen, AG",1.0000,CITY:AG000017,locations_22.json
0,1995-10-01,2024-04-21,"Medea, AG",0.9875,CITY:AG000009,locations_14.json
0,1976-04-01,2024-04-21,"Mostaganem, AG",1.0000,CITY:AG000010,locations_15.json
0,1881-07-01,1992-01-31,"Baku, AJ",0.9910,CITY:AJ000001,locations_23.json
0,1956-02-01,2024-04-21,"Comodoro Rivadavia, AR",0.9987,CITY:AR000004,locations_35.json
0,1877-04-01,2024-04-21,"Algiers, AG",1.0000,CITY:AG000001,locations_6.json
0,1995-10-01,2024-04-21,"Sidi-Bel-Abbes, AG",0.9995,CITY:AG000014,locations_19.json
0,1995-10-01,2024-04-21,"Guelma, AG",1.0000,CITY:AG000007,locations_12.json
0,1885-06-01,2024-04-21,"Yerevan, AM",1.0000,CITY:AM000001,locations_28.json
0,1944-03-01,2024-04-21,"Ajman, AE",1.0000,CITY:AE000002,locations_1.json
0,1956-02-01,2024-04-21,"Bahia Blanca, AR",0.9973,CITY:AR000001,locations_32.json
0,1925-09-01,1991-12-31,"Naxcivian, AJ",1.0000,CITY:AJ000002,locations_24.json
0,1973-02-05,2024-04-21,"Durres, AL",0.9925,CITY:AL000001,locations_25.json
0,1908-09-01,2024-04-21,"Buenos Aires, AR",1.0000,CITY:AR000002,locations_33.json
0,1983-01-01,2024-04-21,"Abu Dhabi, AE",0.9975,CITY:AE000001,locations_0.json
0,1960-04-01,2024-04-21,"Luanda, AO",0.4997,CITY:AO000005,locations_29.json
0,1888-01-01,2024-04-21,"Laghouat, AG",1.0000,CITY:AG000008,locations_13.json

Show the last few records of the DataFrame.

In [81]:
# Show the last few records
df1.tail()

,mindate,maxdate,name,datacoverage,id,source
0,1973-02-05,2024-04-21,"Durres, AL",0.9925,CITY:AL000001,locations_25.json
0,1908-09-01,2024-04-21,"Buenos Aires, AR",1.0000,CITY:AR000002,locations_33.json
0,1983-01-01,2024-04-21,"Abu Dhabi, AE",0.9975,CITY:AE000001,locations_0.json
0,1960-04-01,2024-04-21,"Luanda, AO",0.4997,CITY:AO000005,locations_29.json
0,1888-01-01,2024-04-21,"Laghouat, AG",1.0000,CITY:AG000008,locations_13.json

## Validate Records Are Unique

Provide two different ways to determine there are no duplicate records.  
Hint: The id field should be unique.

In [82]:
# one day to determine there are not duplicate records
if df1['id'].is_unique:
    print("All ids are unique")
else:
    print("All ids are not unique")

All ids are not unique

In [83]:
# another way to determine there are no duplicate records
boolean = df1["id"].is_unique  
if boolean == True:
    print("All rows are unique")
else:
    print("All rows are not unique")

All rows are not unique

In [84]:
#another way to determine is there are duplicate records
if df1.duplicated().any():
    print("Duplicate rows exist.")
else:
    print("No duplicate rows.")

No duplicate rows.

# Peking In

Show the record with id "CITY:TU000041". Which file did it come from?

In [91]:
# 
# record = df1[df1['id'] == 'CITY:TU000041']

# if not record.empty:
#     print("Record found")
#     print (record)
#     print("This record came from the file:", record['source'].iloc[0])
# else:
#     print("Record with city id CITY:TU000041 not found")


record = df[df['id'] == "CITY:AG000008"]
if not record.empty:
    print("Record :")
    print(record.iloc[0])
    print("**********")
    print("Source :")
    print(record['source'].iloc[0])

Record :
mindate                1888-01-01
maxdate                2024-04-21
name                 Laghouat, AG
datacoverage                  1.0
id                  CITY:AG000008
source          locations_13.json
Name: 0, dtype: object
**********
Source :
locations_13.json

In [94]:
# which file did it come from 
# record = df1[df1['id'] == 'CITY:TU000041']

# if not record.empty:
#     print("Record found")
#     print(record)
#     print("This record came from the file : " , record['source'].iloc[0])
# else:
#     print("Record not found")

record = df[df['id'] == "CITY:AR000002"]  #CITY:AG000008
if not record.empty:
    print("Record :")
    print(record.iloc[0])
    print("**********")
    print("Source :")
    print(record['source'].iloc[0])

Record :
mindate                1908-09-01
maxdate                2024-04-21
name             Buenos Aires, AR
datacoverage                  1.0
id                  CITY:AR000002
source          locations_33.json
Name: 0, dtype: object
**********
Source :
locations_33.json

Show the record with id "CLIM:0405". Which file did it come from?

In [95]:
# Show the record with id "CITY:AJ000002". Which file did it come from?
# record = df1[df1['id'] == 'ITY:AJ000002']

# if not record.empty:
#     print("Record found")
#     print(record)
#     print("This record came from the file : " , record['source'].iloc[0])
# else:
#     print("record not found")
record = df[df['id'] == "CITY:AJ000002"]  #CITY:AG000008
if not record.empty:
    print("Record :")
    print(record.iloc[0])
    print("**********")
    print("Source :")
    print(record['source'].iloc[0])

Record :
mindate                1925-09-01
maxdate                1991-12-31
name                Naxcivian, AJ
datacoverage                  1.0
id                  CITY:AJ000002
source          locations_24.json
Name: 0, dtype: object
**********
Source :
locations_24.json

How many unique values are there for the source column in the DataFrame?

In [99]:
# 
# item_counts = df["source"].value_counts()
# print(item_counts)

unique_source = df['source'].nunique()
print("Number of unique values in the 'source' column :", unique_source)

Number of unique values in the 'source' column: 39
Number of unique values in the 'source' column : 39

How many records did the locations_38.json file contain?

In [102]:
# records_with_source_38 = df[df['source'] == "locations_38.json"]
# num_records_with_source_38 = len(records_with_source_38)
# print(num_records_with_source_38)

records_source38 = df[df['source'] == "locations_38.json"]
num_records_with_source38 = len(records_source38)
print(num_records_with_source38)

0

We will work with this DataFrame in a subsequent part of the lab. Instead of repeating all of this work again, let's export the DataFrame to a pickled file.

In [103]:
# export DataFrame to a pickled file called locations_data_frame.pickle. Save it to the data directory.


df1.to_pickle("locations_data_frame.pickle")